@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(ViewBag.NombreUsuario))
{
    <div class="text-center">
        <h1 class="display-4">Bienvenido @ViewBag.NombreUsuario</h1>

    </div>
}
